#toolbar{
  margin: 20px;
}

#toolbar a{
  padding: 10px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  transition: all .1s ease-out;
  user-select: none;
}

@media screen and (max-width: 650px) {
  #toolbar a{
    font-size: small;
    padding: 5px;
  }
}

#toolbar a:hover{
  color: #c6c6ff;
  text-decoration: underline;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #444;
}