
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@import url("https://fonts.googleapis.com/css?family=Asap");

body{
    background-color: black;
    color: white;
    font-family: Asap, sans-serif;
}