
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

body{
    background-color: black;
    color: white;
    @import
    url("https://fonts.googleapis.com/css?family=Asap");
    font-family: Asap, sans-serif;
}